<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Created by Mateo Álvarez García * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * HTML markup below * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Header -->
<header class="header_01" role="banner">
  <h1 class="header_title shadow_text">CATALOGO</h1>
  <h1 class="header_title shadow_text">ONLINE</h1>
</header>

<!-- Content -->
<div class="content_01" role="main">
  <img class="logo" src="../assets/images/lg.svg">
    <nav> 

    </nav>
</div>

<!-- Footer -->
<footer>
  <h1 class="footer_title shadow_text">No lo intentes. Hazlo, o no lo hagas,<br>pero no lo intentes.</h1>
</footer>

<router-outlet></router-outlet>